body {
    background-image: url("dashboard_background.png");
    height: auto;
    background-size: 100%;
}

#chatbox {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
}

#dash_button {
    position: absolute;
    left: 0px;
    bottom: 6px;
}
